:markdown
  ## People Ops Generalist

  People Ops Generalists meet the additional requirements of People Ops Specialist and have the following advanced responsibilities:

  - Assist the VP of People Operations to develop the strategic direction for People Ops, and implement the functional steps to achieve those goals.
  - Develop and implement HR policies, from recruitment and pay, to diversity and employee relations.
  - Work with People Ops and the executive team to establish entities in new countries as we scale.
  - Develop contracts and benefits programs for each entity.
  - Assist and advise managers in delicate and difficult People Operations issues (special circumstances, conflicts, sickness, layoffs, etc.)
  - Meet with managers on a regular basis to discuss their needs within the organization and any issues.
  - Work with the VP of People Operations to develop leadership and individual contributor training.
  - Create People Operations processes and strategies following the GitLab workflow, with the goal always being to make things easier from the perspective of the team members.
  - Keep it efficient and DRY.
  - Provide assistance to the team with miscellaneous support tasks.
  - Suggest and implement improvements to People Operations, for example for performance reviews and various types of training.
  - Write job descriptions and promotion criteria.
