---
layout: default
title: "Whitepaper - Executive Briefing Series: Digital Transformation"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "/resources/downloads/WTOP_Digital_Transformation_whitepaper.pdf"
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper."
success_message: "You will also receive a copy of the whitepaper sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Executive Briefing Series:
        %h2.page-subtitle Digital Transformation

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p As a foundational part of the ongoing modernization of federal IT systems, agency practitioners are rewriting or replacing applications. Some missions require new functionality. Others need new, contemporary code that is easier to maintain. Many agencies want applications to work across hybrid cloud environments, and legacy applications often do not.

            %h3 In this exclusive executive briefing, the following federal IT practitioners take the pulse of enterprise development efforts in the federal government:
            %ul
              %li
                = succeed "," do
                  %strong Todd Barr
                Chief Marketing Officer, GitLab
              %li
                = succeed "," do
                  %strong John Jeremiah
                Enterprise DevOps Evangelist and Product Marketing Leader, GitLab
              %li
                = succeed "," do
                  %strong La’Naia J. Jones
                Deputy Chief Information Officer of the Intelligence Community, Office of the Director of National Intelligence
              %li
                = succeed "," do
                  %strong Frank Konieczny
                Chief Technology Officer, U.S. Air Force

            %p Download to learn more.


        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource"
